<!-- <div class="grid-container">
  <h1 class="mat-h1">ADMIN</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards |async " [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="card.title=='Card 1'" class="dashboard-card-content">
          <app-cashflow></app-cashflow>
        </mat-card-content>
        <mat-card-content *ngIf="card.title=='Card 2'" class="dashboard-card-content">
          <app-stock></app-stock>
        </mat-card-content>
        <mat-card-content *ngIf="card.title=='Card 3'" class="dashboard-card-content">
          <app-order></app-order>
        </mat-card-content>
        <mat-card-content *ngIf="card.title=='Card 4'" class="dashboard-card-content">
          <app-sale></app-sale>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Usuarios">
    <app-own pluralTag="Usuarios" singleTag="Usuario" endpoint="user"></app-own>
  </mat-tab>
  <mat-tab label="Clientes">
    <app-customer></app-customer>
  </mat-tab>
  <mat-tab label="Productos">
    <app-items></app-items>
  </mat-tab>
  <mat-tab label="Presupuestos">
    <app-quote></app-quote>
  </mat-tab>
  <mat-tab label="Facturas">
    <app-sale></app-sale>
  </mat-tab>
  <mat-tab label="Pedidos">
    <app-order></app-order>
  </mat-tab>
  <mat-tab label="Envios">
    <app-delivery></app-delivery>
  </mat-tab>
  <mat-tab label="Reportes">
    <app-report></app-report>
  </mat-tab>
  <mat-tab label="Usuarios">
    <app-user></app-user>
  </mat-tab>
  <mat-tab label="Empresa">
    <app-company></app-company>
  </mat-tab>
</mat-tab-group>